<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <script src="/resources/js/jquery-3.2.1.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/index.js"></script>


    <title>Chapek-9</title>
</head>
<body>

    <script>
        getTaskDescription();
        controllerTaskList();
        controllerLogList();
        buttonsGroupsComandsForRobots();
        controllerRobotsList()
    </script>

    <div th:insert="~{fragments/nav :: #nav}"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>"Robots only! Humans please enter through meat grinder."</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Tasks for robots:</h4>
                <div class="btn-group" id="buttonsGroupsComandsForRobots">
                    <!--Generate buttons-->
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <button type="button" class="btn btn-success" onclick='addRobot()'>Add random robot</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="container-fluid">
                    <h4>Current tasks:</h4>
                    <div id="taskTable">
                        <!-- Generate tasks table -->
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="container-fluid">
                    <h4>Current Logs:</h4>
                    <div id="LogTable">
                        <!-- Generate logs table -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="container-fluid">
                    <h4 id="robotCount"></h4>
                    <div id="numberOfRobots">
                        <!-- Generate robots table -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>